.card i {
  font-size: 3em;
  color: black;
}

.card p {
  font-weight: 500;
  color: white;
}

.card {
  color: white;
  display: flex;
  border-radius: 2em;
  box-shadow: 10px 10px 15px #002f35;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  margin: 2.5em;
  background: #004048;
}

.titleCard {
  text-transform: uppercase;
  color: white;
}

.logoMg {
  margin-left: 0px;
}

.logoVerDestinos {
  margin-left: 0%;
}

.imgCard {
  margin-left: 12%;
}

.card:hover {
  background: #002327;
  transition: all 1s;
  border: none;
}

.row {
  width: 100%;
  height: 10%;
}

@media screen and (max-width: 850px) {
  .tarjetaCompleta {
    width: 100%;
  }
}
