* {
  margin: 0;
  padding: 0;
}
/*
body{
  
}


.App {
  
}
*/

/* ****************************************************
                        CONTENEDOR
******************************************************/

.contenidoCards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media screen and (max-width: 850px) {
  .contenidoCards {
    display: contents;
  }
}

.contenidoTotal {
  width: 100%;
  height: 500px;
}

/* ****************************************************
                        estilos notfound
******************************************************/

* #mainNotFound {
  transition: all 0.6s;
}

body #mainNotFound {
  font-family: "Lato", sans-serif;
  color: #888;
  margin: 0;
}

#mainNotFound {
  display: table;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.fof {
  display: table-cell;
  vertical-align: middle;
}

.fof h1 {
  font-size: 50px;
  display: inline-block;
  padding-right: 12px;
  animation: type 0.5s alternate infinite;
}

@keyframes type {
  from {
    box-shadow: inset -3px 0px 0px #888;
  }
  to {
    box-shadow: inset -3px 0px 0px transparent;
  }
}
